.global {
  height: auto;
  min-height: 100%;
  max-width: 100%;
  color: black;
}

.innerBlock {
  padding: 30px;
  background-color: white;
}

.infoList {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 70px ;
}

.headingMain {
  font-size: 4rem;
  line-height: 2;
  font-weight: 700;
}

.heading1 {
  font-size: 3rem;
  line-height: 2;
  font-weight: 700;
}

.heading2 {
  font-size: 1.5rem;
  line-height: 1.5;
}

.heading3 {
  font-size: 1rem;
  line-height: 1;
}

.heading4 {

}

.textCenter {
  text-align: center;
}