.layout {
  display: flex;
  flex-direction: column;
}

.sidebar {
  width: 100%;
  margin-bottom: 1rem;
}

.content {
  flex-grow: 1;
}

@media (min-width: 768px) {
  .layout {
    flex-direction: row;
  }

  .sidebar {
    width: 250px;
    margin-bottom: 0;
    margin-right: 2rem;
  }
}